<app-header title="Modification du mot de pass"></app-header>
<br><br><br><br>
<ion-content [fullscreen]="true" *ngIf="!firstlogin">
    


    
    <ion-card>
        
        <ion-card-content class="ion-text-justify" >
            Pour votre securité, veuillez changer votre mot de passe
        </ion-card-content>
    
    </ion-card>
    <form [formGroup]="registrationForm" (ngSubmit)="onUpdate()" novalidate>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input inputmode="number" style="-webkit-text-security:disc;" ng-model="loginData.pincode" pattern="[0-9]{6}$" required maxlength="6" minlength="6"   formControlName="password"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.password">
                <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
  
              <ion-item>
                  <ion-label position="floating">Confirmation de Password</ion-label>
                  <ion-input inputmode="number" style="-webkit-text-security:disc;" ng-model="loginData.pincode" pattern="[0-9]{6}$" required maxlength="6" minlength="6"   formControlName="password2"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.password2">
                    <ng-container *ngIf="password2.hasError(error.type) && (password2.dirty || password2.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
  
  
            <div class="ion-padding">
                <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!registrationForm.valid">
                    <ion-icon name="create" slot="icon-only"></ion-icon>
                    Valider
                </ion-button>
            </div>
           
        </ion-list>
    </form>
  <div class="ion-text-center">
      <ion-label position="floating">
          <ion-text color="danger">*</ion-text> champs obligatoires
      </ion-label>
  </div>
</ion-content>

<ion-content *ngIf="firstlogin">
    
    <ion-card>
        
        
        <ion-card-content class="ion-text-justify" >
            Merci de changer votre mot de passe
        </ion-card-content>
    </ion-card>
  <form [formGroup]="registrationForm" (ngSubmit)="onUpdate()" novalidate>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input inputmode="number" style="-webkit-text-security:disc;" ng-model="loginData.pincode" pattern="[0-9]{6}$" required maxlength="6" minlength="6"   formControlName="password"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.password">
              <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Confirmation de Password</ion-label>
                <ion-input inputmode="number" style="-webkit-text-security:disc;" ng-model="loginData.pincode" pattern="[0-9]{6}$" required maxlength="6" minlength="6"   formControlName="password2"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.password2">
                  <ng-container *ngIf="password2.hasError(error.type) && (password2.dirty || password2.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>


          <div class="ion-padding">
              <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!registrationForm.valid">
                  <ion-icon name="create" slot="icon-only"></ion-icon>
                  Valider
              </ion-button>
          </div>
         
      </ion-list>
  </form>
  <div class="ion-text-center">
      <ion-label position="floating">
          <ion-text color="danger">*</ion-text> champs obligatoires
      </ion-label>
  </div>
</ion-content>
